/*********************************************************************************
 
 
 
 
 
 
 
 
 
 
 
 
 
 *

 
 

 
 *
 
 
 
 
 ********************************************************************************/

@CHARSET "UTF-8";
.x-grid3-header {display:none;}
.ticon {
	background-image: url('../../../themes/default/images/icon_expression_types.gif');
	width: 12px;
	height: 12px;
	float: right;
}
.icon_boolean {background-position: 0px 12px;}
.icon_number {background-position: 0px 24px;}
input.empty {
	color: grey;
}
